@import-normalize;

:root {
  --mainFont: "Poppins", sans-serif;
  --secondaryFont: "Roboto", sans-serif;
  --chakra-fontSizes-lg: "18px";
  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primary: black;
  --secondary: white;
  --accent: #fcc822;
  --reactColor: #61dafb;
  --nodeColor: #68a063;
  --wrongColor: #dc143c;
  --correctColor: #008080;
}

.fade-out {
  opacity: 0;
  display: none;
  transition: display 4000ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 4000ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}
